<app-navbar></app-navbar>
        <div class="col-12">

          <!-- Card -->
          <div class="card border shadow-none rounded">
                                    <h3 class="card-header border-bottom bg-transparent">Subscription Plans</h3>
              <!-- Card Body -->
              <div class="card-body">

                  <!-- Grid -->
                  <div class="row">

                      <!-- Grid item -->
                      <div class="col-xl-4">

                          <!-- Pricing -->
                          <div class="dt-pricing dt-pricing-classic bg-yellow">

                              <!-- Pricing header -->
                              <div class="dt-pricing__header bg-success">
                                  <h2 class="dt-price">&#x20A6;50,000</h2>
                                  <p class="dt-letter-spacing-base text-uppercase mb-0">Silver</p>
                              </div>
                              <!-- /pricing header -->

                              <!-- Pricing body -->
                              <div class="dt-pricing__body">

                                  <ul class="dt-pricing-items">
                                      <li><i class="icon icon-fw icon-company mr-3"></i>Manage 5
                                          Sub-User Account
                                      </li>
                                      <li><i class="icon icon-fw icon-user mr-3"></i>Manage 3
                                          Industry
                                      </li>
                                      <li><i class="icon icon-fw icon-user-o mr-3"></i>Manage Unlimited
                                          Transactions
                                      </li>
                                  </ul>

                                  <div class="pt-7">
                                      <a  [routerLink]="['/buy-plan/94c1b0bf-5f81-4e34-ae8f-36786872862b']">
                                          <button
                                             class="btn btn-primary"
                                              type="button"
                                              >Upgrade Now
                                          </button>
                                      </a>
                                  </div>

                              </div>
                              <!-- /pricing body -->

                          </div>
                          <!-- /pricing -->

                      </div>
                      <!-- /grid item -->
                     

                      <!-- Grid item -->
                      <div class="col-xl-4">

                          <!-- Pricing -->
                          <div class="dt-pricing dt-pricing-classic bg-light-success">

                              <!-- Pricing header -->
                              <div class="dt-pricing__header bg-success">
                                  <h2 class="dt-price">&#x20A6;100,000</h2>
                                  <p class="dt-letter-spacing-base text-uppercase mb-0">Gold</p>
                              </div>
                              <!-- /pricing header -->

                              <!-- Pricing body -->
                              <div class="dt-pricing__body">

                                  <ul class="dt-pricing-items">
                                    <li><i class="icon icon-fw icon-company mr-3"></i>Manage 10
                                      Sub-User Account
                                  </li>
                                  <li><i class="icon icon-fw icon-user mr-3"></i>Manage 5
                                      Industry
                                  </li>
                                  <li><i class="icon icon-fw icon-user-o mr-3"></i>Manage Unlimited
                                      Transactions
                                  </li>
                                  </ul>

                                  <div class="pt-7">
                                      <a [routerLink]="['/buy-plan/87437b2e-6faf-42f2-8725-82ed6d05fda0']">
                                          <button class="btn btn-primary" type="button">Upgrade Now
                                          </button>
                                      </a>
                                  </div>

                              </div>
                              <!-- /pricing body -->

                          </div>
                          <!-- /pricing -->

                      </div>
                      <!-- /grid item -->

                      <!-- Grid item -->
                      <div class="col-xl-4">

                          <!-- Pricing -->
                          <div class="dt-pricing dt-pricing-classic bg-light-success">

                              <!-- Pricing header -->
                              <div class="dt-pricing__header bg-success">
                                  <h2 class="dt-price">&#x20A6;200,000</h2>
                                  <p class="dt-letter-spacing-base text-uppercase mb-0">Platinum</p>
                              </div>
                              <!-- /pricing header -->

                              <!-- Pricing body -->
                              <div class="dt-pricing__body">

                                  <ul class="dt-pricing-items">
                                    <li><i class="icon icon-fw icon-company mr-3"></i>Manage Unlimited
                                      Sub-User Account
                                  </li>
                                  <li><i class="icon icon-fw icon-user mr-3"></i>Manage Unlimited
                                      Industry
                                  </li>
                                  <li><i class="icon icon-fw icon-user-o mr-3"></i>Manage Unlimited
                                      Transactions
                                  </li>
                                  </ul>

                                  <div class="pt-7">
                                      <a [routerLink]="['/buy-plan/41e11b9f-cd5a-4878-b605-889859b21b71']">
                                          <button class="btn btn-primary" type="button">Upgrade Now
                                          </button>
                                      </a>
                                  </div>

                              </div>
                              <!-- /pricing body -->

                          </div>
                          <!-- /pricing -->

                      </div>
                      <!-- /grid item -->

                  </div>
                  <!-- /grid -->

              </div>
              <!-- /card body -->

          </div>
          <!-- /card -->

      </div>