<div class="master-main-container col-sm-12 clearfix no-padding">

    <div class="wrapper">
  
      <div class="content-wrapper" style="min-height: 959.667px;">
     
      <app-admin-header></app-admin-header>

      <app-admin-home></app-admin-home>
      
      <app-admin-sidebar></app-admin-sidebar>

    </div>
    <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
      </div>
      <strong>Copyright © 2014-2016 <a href="https://adminlte.io">Test data</a>.</strong> All rights
      reserved.
    </footer>
  
  
    </div>
   
  
  </div>